In [3]:
import pandas as pd
import numpy as np

In [4]:
car = pd.read_csv('quikr_car.csv')

In [5]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [6]:
car.shape

(892, 6)

In [7]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  841 non-null    object
 5   fuel_type   838 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [9]:
backup =car.copy()

In [8]:
car.tail()

,name,company,year,Price,kms_driven,fuel_type
887,Tata Zest XM Diesel,Tata,2018,"2,60,000","27,000 kms",Diesel
888,Mahindra Quanto C8,Mahindra,2013,"3,90,000","40,000 kms",Diesel
889,Honda Amaze 1.2 E i VTEC,Honda,2014,"1,80,000",Petrol,NaN
890,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,"1,60,000",Petrol,NaN
891,Tata Harrier,Tata,2019,450000,1000,Petrol

In [9]:
car=car[car['year'].str.isnumeric()]

In [10]:
car['year'].astype(int)

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    2018
888    2013
889    2014
890    2014
891    2019
Name: year, Length: 843, dtype: int32

In [11]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 843 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        843 non-null    object
 1   company     843 non-null    object
 2   year        843 non-null    object
 3   Price       843 non-null    object
 4   kms_driven  841 non-null    object
 5   fuel_type   838 non-null    object
dtypes: object(6)
memory usage: 46.1+ KB

In [12]:
car=car[car['Price']!="Ask For Price"]

In [13]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 820 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        820 non-null    object
 1   company     820 non-null    object
 2   year        820 non-null    object
 3   Price       820 non-null    object
 4   kms_driven  820 non-null    object
 5   fuel_type   817 non-null    object
dtypes: object(6)
memory usage: 44.8+ KB

In [14]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
887    2,60,000
888    3,90,000
889    1,80,000
890    1,60,000
891      450000
Name: Price, Length: 820, dtype: object

In [15]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [16]:
car=car[car['kms_driven'].str.isnumeric()]

In [17]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 818 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        818 non-null    object
 1   company     818 non-null    object
 2   year        818 non-null    object
 3   Price       818 non-null    object
 4   kms_driven  818 non-null    object
 5   fuel_type   817 non-null    object
dtypes: object(6)
memory usage: 44.7+ KB

In [18]:
car['kms_driven']=car['kms_driven'].astype(int)

In [19]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 818 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        818 non-null    object
 1   company     818 non-null    object
 2   year        818 non-null    object
 3   Price       818 non-null    object
 4   kms_driven  818 non-null    int32
 5   fuel_type   817 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.5+ KB

In [20]:
car=car[~car['fuel_type'].isna()]

In [21]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    object
 3   Price       817 non-null    object
 4   kms_driven  817 non-null    int32
 5   fuel_type   817 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.5+ KB

In [22]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [23]:
car.reset_index(drop=True)

                       name   company  year     Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007    80,000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  4,25,000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  3,25,000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  5,75,000       36000    Diesel
4                 Ford Figo      Ford  2012  1,75,000       41000    Diesel
..                      ...       ...   ...       ...         ...       ...
812          Tata Indica V2      Tata  2009  1,10,000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  3,00,000      132000    Petrol
814            Tata Zest XM      Tata  2018  2,60,000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  3,90,000       40000    Diesel
816            Tata Harrier      Tata  2019    450000        1000    Petrol

[817 rows x 6 columns]

In [24]:
car.describe()

          kms_driven
count     817.000000
mean    46220.115055
std     34312.986392
min         0.000000
25%     27000.000000
50%     41000.000000
75%     56758.000000
max    400000.000000

In [25]:
car=car[car['Price']<6e6].resert_index(drop=True)

TypeError: '<' not supported between instances of 'str' and 'float'

In [26]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    object
 3   Price       817 non-null    object
 4   kms_driven  817 non-null    int32
 5   fuel_type   817 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.5+ KB

In [37]:
car.to_csv('clear_car.csv')

In [38]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   817 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [39]:
car['Price']= car['Price'].str.replace(',','').astype(int)

AttributeError: Can only use .str accessor with string values!

In [40]:
x=car.drop(columns="Price")
y=car['Price']

In [41]:
car['kms_driven']=car['kms_driven'].astype(int)
car['year']=car['year'].astype(int)

In [42]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   817 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [43]:
x

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
3         Hyundai Grand i10   Hyundai  2014       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014       36000    Diesel
6                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
884          Tata Indica V2      Tata  2009       30000    Diesel
885    Toyota Corolla Altis    Toyota  2009      132000    Petrol
887            Tata Zest XM      Tata  2018       27000    Diesel
888      Mahindra Quanto C8  Mahindra  2013       40000    Diesel
891            Tata Harrier      Tata  2019        1000    Petrol

[817 rows x 5 columns]

In [44]:
y

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
884    110000
885    300000
887    260000
888    390000
891    450000
Name: Price, Length: 817, dtype: int32

In [45]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [46]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

In [47]:
ohe=OneHotEncoder()
ohe.fit(x[['name','company','fuel_type']])

OneHotEncoder()

In [48]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Harrier', 'Tata Indica', 'Tata Indica V2',
        'Tata Indica eV2', 'Tata Indigo CS', 'Tata Indigo LS',
        'Tata Indigo LX', 'Tata Indigo Marina', 'Tata Indigo eCS',
        'Tata Manza', 'Tata Manza Aqua', 'Tata Manza Aura',
        'Tata Manza ELAN', 'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX',
        'Tata Nano LX', 'Tata Nano Lx', 'Tata Sumo Gold',
        'Tata Sumo Grande', 'Tata Sumo Victa', 'Tata Tiago Revotorq',
        'Tata Tiago Revotron', 'Tata Tigor Revotron', 'Tata Venture EX',
        'Tata Vista Quadrajet', 'Tata Zest Quadrajet', 'Tata Zest XE',
        'Tata Zest XM', 'Toyota Corolla', 'Toyota Corolla Altis',
        'Toyota Corolla H2', 'Toyota Etios', 'Toyota Etios G',
        'Toyota Etios GD', 'Toyota Etios Liva', 'Toyota Fortuner',
        'Toyota Fortuner 3.0', 'Toyota Innova 2.0', 'Toyota Innova 2.5',
        'Toyota Qualis', 'Volkswagen Jetta Comfortline',
        'Volkswagen Jetta Highline', 'Volkswagen Passat Diesel',
        'Volkswagen Polo', 'Volkswagen Polo Comfortline',
        'Volkswagen Polo Highline', 'Volkswagen Polo Highline1.2L',
        'Volkswagen Polo Trendline', 'Volkswagen Vento Comfortline',
        'Volkswagen Vento Highline', 'Volkswagen Vento Konekt',
        'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [49]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [50]:
column_trans = make_column_transformer((OneHotEncoder(categories = ohe.categories_),['name','company','fuel_type']),
                                      remainder="passthrough")

In [51]:
lr=LinearRegression()

In [52]:
pipe=make_pipeline(column_trans,lr)

In [53]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [54]:
y_pred = pipe.predict(x_test)

In [55]:
y_pred

array([ 6.62036556e+05,  1.33755083e+05,  4.39101675e+05,  2.54918389e+05,
        2.51585442e+05,  4.45649391e+05,  2.26876537e+05,  5.49042349e+05,
        6.58013058e+05,  2.88679138e+05,  2.35398530e+05,  3.78039912e+05,
        2.14154443e+06,  1.87555131e+05,  3.66994261e+04,  4.59690984e+05,
        4.45246136e+05,  6.62036556e+05,  5.38591519e+05,  3.25608570e+05,
        2.29999414e+05,  5.56550063e+05,  7.65082500e+05,  2.05142261e+05,
        4.00156840e+05,  4.38565244e+05,  1.23753293e+06,  3.29772043e+05,
        4.57992150e+05,  1.40926694e+05,  1.56938997e+05,  7.04299960e+03,
        1.38954146e+06, -1.52261227e+05,  6.26868429e+05,  6.26103025e+05,
        8.11345745e+05,  7.86676752e+04,  2.81372246e+05,  6.09006609e+05,
        5.56265878e+05,  2.34721795e+05,  4.05685807e+05,  4.00219624e+05,
        2.74349901e+05, -2.89110600e+04,  1.45868205e+06,  4.80908789e+05,
        4.10076757e+05,  1.09342248e+05,  4.96782552e+05,  2.52471892e+05,
        5.00217503e+05,  6.08909885e+05,  4.52074978e+05,  4.62429916e+05,
        3.84216063e+05,  3.75631343e+05,  9.02033549e+05, -1.42354295e+05,
        3.10425476e+05,  3.54826543e+05,  4.51668369e+05,  1.19218329e+05,
       -7.63258457e+04,  2.67496455e+05,  6.04561625e+05,  3.27520317e+05,
        1.79813143e+05,  3.69732365e+05,  2.85493327e+05,  4.15515524e+05,
        4.74157841e+05,  4.39122942e+05,  3.76363437e+05,  6.36466844e+05,
        3.33016374e+05,  2.05848840e+05,  2.71357448e+05,  2.44595341e+05,
        2.53067748e+05,  1.36807528e+06,  3.66974127e+05,  4.53140269e+05,
        7.50781946e+05,  2.82571643e+05,  2.59677137e+05,  1.68029211e+03,
        3.59711809e+05, -1.66511277e+05,  4.99563215e+05,  4.93180331e+05,
        2.04452270e+05,  3.30349035e+05,  4.43741633e+05,  1.70888208e+05,
        6.15436792e+05,  4.63477230e+05, -4.28331288e+04,  2.31781139e+05,
        2.63756371e+05,  6.86738494e+05,  2.49897702e+05,  4.94801375e+05,
        2.18164173e+05,  4.67444520e+04,  1.95827480e+05,  1.51623153e+05,
       -8.96866508e+04,  2.37089252e+05,  3.30379569e+05,  2.79558098e+05,
        1.70583218e+05,  2.97922737e+05,  3.34874071e+05,  5.05617468e+05,
        6.78572779e+05,  2.86387112e+05,  4.82497739e+05,  4.64471454e+05,
        6.21407984e+05,  3.15736936e+05,  5.05919016e+05, -2.77350006e+05,
       -1.21526630e+05,  1.14023306e+06,  2.99384463e+05, -9.27790719e+04,
        4.87568529e+05,  5.30241694e+05,  1.28582709e+05,  2.06047391e+05,
        6.22837406e+05,  5.97053359e+05,  1.43620302e+05,  1.73401771e+05,
        3.95930180e+05,  1.35285533e+05,  4.39122942e+05,  6.73869978e+05,
        7.12663702e+05,  2.17869450e+05,  2.59265823e+05,  3.09432382e+05,
        5.30632624e+05,  3.87547299e+05,  1.76879951e+05,  2.14154443e+06,
        6.05230914e+05,  7.06288998e+05, -6.68763696e+04,  7.06288998e+05,
        2.53067748e+05,  2.11103275e+05,  2.87982965e+05,  8.03704482e+05,
        5.11989364e+05, -3.28262013e+04,  6.77429575e+05,  4.95644642e+05,
        4.07695062e+05,  2.23699267e+05,  3.94387603e+05,  3.70520429e+05])

In [56]:
r2_score(y_test,y_pred)

0.5458571581020708

In [57]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [58]:
np.argmax(scores)

27

In [59]:
scores[np.argmax(scores)]

0.7952562008700331

In [60]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred = pipe.predict(x_test)
r2_score(y_test,y_pred)

0.7952562008700331

In [61]:
import pickle

In [62]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [64]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']], columns=['name','company','year','kms_driven','fuel_type']))

array([422087.61459275])